<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">

<head>
    <title>Booklist</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
</head>

<body>
    <p>Welcome, <span th:text="${username}"></span>!</p>
    <h1>Books</h1>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Author</th>
                <th>Title</th>
                <th>ISBN</th>
                <th>Year</th>
                <th>Price</th>
                <th>Category</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="book : ${books}">
                <td th:text="${book.author}"></td>
                <td th:text="${book.title}"></td>
                <td th:text="${book.isbn}"></td>
                <td th:text="${book.publicationYear}"></td>
                <td th:text="${book.price}"></td>
                <td th:text="${book.category.name}"></td>
                <td>
                    <div sec:authorize="hasRole('ADMIN')">
                        <a th:href="@{/deletebook/{id}(id=${book.id})}" class="btn btn-danger">Delete</a>
                    </div>
                </td>

                <td>
                    <a th:href="@{/editbook/{id}(id=${book.id})}" class="btn btn-primary">Edit</a>
                </td>
            </tr>
        </tbody>
    </table>
    <a href="/addbook" class="btn btn-success">Add Book</a>
    <div class="col-md-4" style="padding:20px 0">
        <form th:action="@{/logout}" method="post">
            <input type="submit" value="Log out" class="btn btn-sm btn-danger" />
        </form>
    </div>
</body>

</html>